@import url('https://fonts.googleapis.com/css?family=Anton|Overpass+Mono:600&display=swap');
/* Main Background */
 * {
	 box-sizing: border-box;
}

 img {
	 max-width: 100%;
	 display: block;
	 width: 100%;
	 height: auto;
}
 ul {
	 list-style: none;
	 margin: 0;
	 padding: 0;
}
/* Typography */
 body {
	 font-family: "Overpass Mono", monospace;
}

/* Header */
 .page-header {
	 position: fixed;
	 z-index: 2;
	 width: 100%;
}
/* Scroll behaviour */
 @media (min-height: 30em) {
	 main {
		 scroll-snap-type: y mandatory;
		 height: 100vh;
		 overflow-y: scroll;
	}
}
/* Nav */
 .nav__list {
	 display: flex;
	 height: 5rem;
	 align-items: center;
	 justify-content: flex-end;
	 padding: 0.625rem 1.25rem;
}
 .nav__item a {
   font-size: 20px;
	 color: white;
	 display: block;
	 text-decoration: none;
	 padding: 0.75rem 1.5rem;
}
 .nav__item a:hover, .nav__item a:focus {
	 text-decoration: underline;
}

/* Sections */
 .section {
	 color: white;
	 position: relative;
	 scroll-snap-align: center;
	 display: flex;
	 flex-direction: column;
	 min-height: 100vh;
}
 @media (min-height: 30em) {
	 .section {
		 height: 100vh;
	}
}
/* Hero */

 .hero__img {
	 width: 100%;
	 height: 100%;
	 object-fit: cover;
}
 .hero__content {
	 flex-grow: 1;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 padding: 5rem;
}
 .hero__bg {
	 position: fixed;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
}
 .hero__bg::after {
	 content: "";
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 display: block;
	 top: 0;
	 left: 0;
	 background: radial-gradient(rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 1));
	 opacity: 1;
	 transition: opacity 4000ms;
}
 .is-visible .hero__bg {
	 filter: grayscale(0);
}
 .is-visible .hero__bg::after {
	 opacity: 0.6;
}
 .hero__text {
	 position: relative;
	 text-align: center;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 flex-wrap: wrap;
}
 .hero__title {
   font-size: 90px;
   line-height: 130%;
	 margin-bottom: 0;
	 width: 100%;
	 z-index: 1;
}

/* Buger button menu */

 body.open {
	 overflow: hidden;
}
 body.open:before {
	 visibility: visible;
	 opacity: 1;
}
 body:before {
	 content: "";
	 position: absolute;
	 background-color: #123453;
	 width: 100%;
	 overflow: hidden;
	 top: 0;
	 left: 0;
	 bottom: 0;
	 visibility: hidden;
	 opacity: 0;
	 transition: all 0.4s ease;
}
 .burger {
	 position: fixed;
	 top: 20px;
	 left: 20px;

}
 .burger__button {
	 display: block;
	 position: relative;
	 width: 60px;
	 height: 60px;
	 text-align: center;
	 vertical-align: middle;
	 transition: all 0.5s ease;
	 border: 2px solid white;
	 box-shadow: 0px 0px 8px -2px #333;
}
 .burger__button.open {
	 border: 2px solid #fff;
	 box-shadow: none;
}
 .burger__button__icon {
	 display: inline-block;
	 position: absolute;
	 background: #fff;
	 margin: 0 auto;
	 width: 40px;
	 height: 2px;
	 top: 50%;
	 left: 0;
	 right: 0;
	 transition: all 0.5s ease;
	 transform: translateY(-1px);
}
 .burger__button__icon:before, .burger__button__icon:after {
	 content: "";
	 position: absolute;
	 margin: 0 auto;
	 background: #fff;
	 width: 30px;
	 height: 2px;
	 left: 0;
	 right: 0;
	 transition: all 0.5s ease;
}
 .burger__button__icon:before {
	 bottom: 10px;
}
 .burger__button__icon:after {
	 top: 10px;
}
 .burger__button.open .burger__button__icon {
	 background: transparent;
}
 .burger__button.open .burger__button__icon:before, .burger__button.open .burger__button__icon:after {
	 transform-origin: 0 50%;
	 width: sqrt(pow(2px, 2)pow(20px, 2));
}
 .burger__button.open .burger__button__icon:before {
	 transform: rotateZ(atan(10));
}
 .burger__button.open .burger__button__icon:after {
	 transform: rotateZ(-1 * atan(10));
}
 .burger__menu {
	 list-style-type: none;
	 padding: 0 0 0 20px;
}
 .burger__menu li {
	 display: block;
	 position: relative;
	 margin: 40px 0;
	 visibility: hidden;
	 transition: all 0.5s ease;
	 transform: translateX(-400px);
}
 .burger__menu a {
	 display: block;
	 text-decoration: none;
	 color: #fff;
	 font-size: 2.5rem;
	 font-family: Arial, "san-serif";
	 font-weight: normal;
	 transition: all 0.4s ease;
	 border-left: 3px solid transparent;
	 padding-left: 0;
}
 .burger__menu a:hover {
	 padding-left: 30px;
	 border-left: 3px solid #fff;

}
 .burger__button.open + .burger__menu li {
	 transform: translateX(0);
	 visibility: visible;
}
